.header {
  background-color: #e32729;
}

.upper-header {
  margin: 0 32px;
  padding-bottom: 12px;
}

.text-navs {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 35px;
}

.text-navs a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  padding: 6px 0;
}

.search-bar-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding-top: 12px; */
}

.logo {
  width: 10%;
}

.logo img {
  width: 100%;
}

.search-bar {
  display: flex;
  width: 50%;
  justify-content: flex-start;
  align-items: center;
  padding: 12px;
  gap: 12px;
  background-color: #f5f5f5;
  border-radius: 25px;
}

.search-bar img {
  width: 20px;
}

.search-bar input {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  background-color: #f5f5f5;

  border: none;
  outline: none;
}

.profile-items {
  display: flex;
  gap: 20px;
  align-items: center;
}

.profile-item {
  display: flex;
  align-items: center;
  color: #fff;
  cursor: pointer;
}

.profile-item a{
  display: flex;
  gap: 5px;
  text-decoration: none;
  color: #fff;
  align-items: center;
  justify-content: center;
}

.profile-item img {
  width: 24px;
  height: 24px;
  filter: brightness(0) invert(1);
}

.profile-item span {
  text-decoration: none;
  font-size: 12px;
  margin-top: 4px;
}

.middle-header {
  display: none;
}

.lower-header {
  background-color: #ffffff;
  padding: 10px 32px;
  overflow: hidden;
  overflow-x: scroll;
}

.lower-header nav {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  overflow-x: scroll;

  gap: 20px;
}

.lower-header nav::-webkit-scrollbar {
  display: none;
}

.lower-header nav a {
  text-decoration: none;
  color: black;
  font-size: 12px;
  font-weight: 600;
}

.header-navs {
  width: 9%;
  min-width: 110px;
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: center;
}

.header-navs img {
  width: 30%;
}

.filter {
  display: none;
}

/* header section ends here */



@media screen and (max-width: 480px) {


    .upper-header {
        margin: 0 12px;
        padding: 10px 0;
    }

    .text-navs {
        display: none;
    }

    .logo {
        width: 45%;
    }

    .search-bar {
        display: none;
    }

    .profile-item span {
        display: none;
    }

    .middle-header {
        display: flex;
        background-color: #f5f5f5;
        border-radius: 25px;
        padding: 10px;
        justify-content: space-between;
    }

    .mobile-search-bar {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .mobile-search-bar img {
        width: 18px;
    }

    .mobile-search-bar input {
        width: 100%;
        background-color: #f5f5f5;
        border: none;
        outline: none;
        padding-left: 10px;
        font-size: 16px;
    }

    .lower-header {
        padding: 5px 12px;
    }
  }